.conteiner {
    max-width: 1440px;
    margin: 0 auto; 
}


.header {  
    background-color: var(--accent-color);   
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 101px;
    height: 100%;
   padding-right: 41px;
   padding-left: 36px;
   
    
}
.header__logo {
    font-size: 40px;
    font-weight: 800;
    line-height: 43.8px;
    color: var(--bg-color);
}
.header__logo-span{
    color: pink;
}

.menu {
    display: flex;
    align-items: center;  
}
.menu__item{
    margin-right: 76px;
    padding-top: 7px;
}
.menu__item:last-of-type{
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 6px;

}
.menu__link {
color: var(--bg-color);
text-decoration: none;
}
.menu__link-img {
    
}
.header__btn {
    width: 166px; 
    border: none;
    height: 50px;
    border-radius: 25px;
    background-color: var(--bg-color);
    color: var(--accent-color);
    line-height: 17.52px;
    font-size: 16px;

}