@import url('./hero/hero.css');
@import url('./header/header.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: rgba(228, 48, 113, 1);
  --bg-color:rgba(255, 255, 255, 1);
  --text-color:rgba(66, 66, 66, 1);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  font-size: 16px;
  font-weight: 400;
}
